/* Ajustes para telas menores (máximo 768px) */
@media (max-width: 768px) {
    /* Ajuste no layout da seção de funcionários */
    .func-container {
      grid-template-columns: 1fr;  /* Coloca as imagens uma abaixo da outra */
      gap: 20px;  /* Reduz o espaçamento entre as imagens */
    }
  
    /* Ajuste na imagem dos funcionários */
    .func {
      max-width: 90%;  /* Reduz a largura da imagem */
      height: auto;  /* Ajusta a altura automaticamente */
    }
  
    /* Alinha as imagens e legendas centralizadas */
    .image, .image1, .image2 {
      text-align: center; /* Centraliza as imagens */
    }
  
    /* Ajuste no nome dos funcionários */
    .caption, .caption1, .caption2 {
      font-size: 12px; /* Reduz o tamanho da legenda para telas menores */
    }
  }
   
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    background-color: black;
}
.inicio {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    
}
.logo{
    width: 20%;
}
.links{
    display: flex;
    gap: 20px;
}
a:link{
    text-decoration: none;
    font-size: larger;
    color: green;
}
a:visited{
    color: green;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}
body{
    background: linear-gradient(90deg, rgba(0,36,4,1) 11%, rgba(212,212,212,1) 100%, rgba(0,212,255,1) 100%);
}
h3{
    text-align: center;
    color: green 
}
.login{
    width: 20%;
    border: solid 2px;
    border-color: black;
    background-color: black;
    margin: 200px auto;
    padding: 20px;
    border-radius: 8px;
}
.forms{
    text-align: center;
}
input{
    color: green;
    background-color: black;
    border-color: green;
}
label{
    color: green;
}