body {
    font-size: 16px; /* Tamanho padrão */
    padding: 0 20px; /* Adiciona margem nas laterais */
}

@media (max-width: 768px) { /* Quando a tela for menor que 768px */
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 20px; /* Reduz o tamanho do título */
        text-align: center; /* Centraliza o título */
    }

    p {
        font-size: 13px;
        line-height: 1.4; /* Melhora a leitura */
        text-align: center;
    }
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    background-color: black;
}
.inicio {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    
}
.logo{
    width: 20%;
}
.links{
    display: flex;
    gap: 20px;
}
a:link{
    text-decoration: none;
    font-size: larger;
}
a:visited{
    color: green;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
.func-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 240px;
    justify-content: center;
}

.func {
    width: 100%; /* Para ocupar todo o espaço disponível */
    max-width: 300px; /* Define um tamanho máximo */
    height: 300px;
    border-radius: 10px; /* Para um visual mais bonito */
    text-align: center;
}

.image1{
    text-align: center;
}
.image2{
    text-align: end;
}
.caption{
    font-size: 14px;
    color: black;
    margin-top: 5px;
}
.caption1{
    font-size: 14px;
    color: black;
    margin-top: 5px;
    margin-left: 100px;
}
.caption2{
    font-size: 14px;
    color: black;
    margin-top: 5px;
    margin-right: 100px;
}