/* Estilo padrão (para telas grandes) */
.container {
    width: 100%;
    margin: auto;
  }
  
  /* Ajusta para telas menores */
  @media (max-width: 768px) {
    .container {
      width: 95%;  /* Ocupa quase toda a tela */
    }
  }
  

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    background-color: black;
}
.inicio {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    
}
img{
    max-width: 20%;
}
.links{
    display: flex;
    gap: 20px;
}
a:link{
    text-decoration: none;
    font-size: larger;
    color: green;
}
a:visited{
    color: green;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}