/* Ajusta para telas menores (máximo 768px) */
@media (max-width: 768px) {
    /* Container ajustado */
    .container {
      width: 95%;  /* Ocupa quase toda a tela */
    }
  
    /* Ajuste na header */
    .header {
      flex-direction: column; /* Coloca o conteúdo do header em coluna */
      padding: 20px;
    }
  
    /* Imagem do logo */
    .inicio img {
      max-width: 50%;  /* A imagem ocupa metade da tela */
    }
  
    /* Links em coluna para telas menores */
    .links {
      flex-direction: column; /* Coloca os links em coluna */
      gap: 10px;  /* Diminui o espaço entre os links */
      text-align: center;  /* Centraliza os links */
    }
  
    /* Ajuste no título e parágrafos */
    h2, p {
      font-size: 16px; /* Tamanho do texto para telas pequenas */
    }
  }  
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    background-color: black;
}
.inicio {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    
}
img{
    max-width: 20%;
}
.links{
    display: flex;
    gap: 20px;
}
a:link{
    text-decoration: none;
    font-size: larger;
    color: green;
}
a:visited{
    color: green;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}